In [2]:
import pandas as pd 
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "png"

In [4]:
world_data = pd.read_csv('../Data/our-world-can.csv')
world_data = world_data.rename(columns={'Entity': 'Country', 'total_tests': 'Number of Tests Performed', \
'142601-annotations': 'Tested T/F', 'Total confirmed deaths due to COVID-19': 'Deaths', 'Total confirmed cases of COVID-19': 'Cases'})

can = world_data[world_data['Country'] == 'Canada']
usa = world_data[world_data['Country'] == 'United States']
usa = usa.drop([98765,98764,98763,98762])

In [6]:
world_data

,Entity,Code,Day,total_tests,142601-annotations,Total confirmed deaths due to COVID-19,Total confirmed cases of COVID-19
0,2020 Summer Olympics athletes & staff,NaN,2021-06-19,NaN,NaN,NaN,1.0
1,2020 Summer Olympics athletes & staff,NaN,2021-06-20,NaN,NaN,NaN,1.0
2,2020 Summer Olympics athletes & staff,NaN,2021-06-21,NaN,NaN,NaN,1.0
3,2020 Summer Olympics athletes & staff,NaN,2021-06-22,NaN,NaN,NaN,1.0
4,2020 Summer Olympics athletes & staff,NaN,2021-06-23,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...
105718,Zimbabwe,ZWE,2021-07-19,NaN,NaN,2697.0,85732.0
105719,Zimbabwe,ZWE,2021-07-20,NaN,NaN,2747.0,88415.0
105720,Zimbabwe,ZWE,2020-03-20,NaN,NaN,NaN,1.0
105721,Zimbabwe,ZWE,2020-03-21,NaN,NaN,NaN,3.0
105722,Zimbabwe,ZWE,2020-03-22,NaN,NaN,NaN,3.0