In [1]:
import pandas as pd 
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "notebook"
config = dict({'scrollZoom': True})

In [2]:
data = pd.read_csv('../Data/InternationalCovid19Cases.csv')
data

,iso_code,date,new_cases,new_cases_14_days,new_cases_14_days_100k,total_cases,total_cases_100k,new_deaths,new_deaths_14_days,new_deaths_14_days_100k,total_deaths,total_deaths_100k
0,AFG,2020-02-24,1.0,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN
1,AFG,2020-02-25,0.0,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN
2,AFG,2020-02-26,0.0,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN
3,AFG,2020-02-27,0.0,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN
4,AFG,2020-02-28,0.0,NaN,NaN,1.0,0.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
101007,ZWE,2021-07-25,617.0,30129.0,202.71,97894.0,658.65,44.0,909.0,6.12,3094.0,20.82
101008,ZWE,2021-07-26,2050.0,29518.0,198.60,99944.0,672.44,79.0,937.0,6.30,3173.0,21.35
101009,ZWE,2021-07-27,1767.0,28440.0,191.35,101711.0,684.33,107.0,1006.0,6.77,3280.0,22.07
101010,ZWE,2021-07-28,1856.0,27186.0,182.91,103567.0,696.81,60.0,1008.0,6.78,3340.0,22.47
101011,ZWE,2021-07-29,2089.0,26784.0,180.21,105656.0,710.87,81.0,1003.0,6.75,3421.0,23.02

In [3]:
case_data = data[['iso_code', 'date', 'new_cases', 'total_cases', 'new_deaths', 'total_deaths']]
case_data = case_data.rename(columns={'iso_code': 'Code', 'date': 'Date', 'new_cases': 'New Cases', 'new_deaths': 'New Deaths', 'total_cases': 'Total Cases', 'total_deaths': 'Total Deaths'})
case_data = case_data.fillna(0)

In [4]:
case_data

       Code        Date  New Cases  Total Cases  New Deaths  Total Deaths
0       AFG  2020-02-24        1.0          1.0         0.0           0.0
1       AFG  2020-02-25        0.0          1.0         0.0           0.0
2       AFG  2020-02-26        0.0          1.0         0.0           0.0
3       AFG  2020-02-27        0.0          1.0         0.0           0.0
4       AFG  2020-02-28        0.0          1.0         0.0           0.0
...     ...         ...        ...          ...         ...           ...
101007  ZWE  2021-07-25      617.0      97894.0        44.0        3094.0
101008  ZWE  2021-07-26     2050.0      99944.0        79.0        3173.0
101009  ZWE  2021-07-27     1767.0     101711.0       107.0        3280.0
101010  ZWE  2021-07-28     1856.0     103567.0        60.0        3340.0
101011  ZWE  2021-07-29     2089.0     105656.0        81.0        3421.0

[101012 rows x 6 columns]

In [5]:
can = case_data[case_data['Code'] == 'CAN']
usa = case_data[case_data['Code'] == 'USA']

can.insert(0, 'Country', ['Canada']*551, True)
usa.insert(0, 'Country', ['United States']*555, True)

can = can.drop(columns='Code')
usa = usa.drop(columns='Code')

In [6]:
can.insert(2, 'New Cases/Total', can['New Cases']/can['Total Cases'], True)
usa.insert(2, 'New Cases/Total', usa['New Cases']/usa['Total Cases'], True)

In [7]:
can.insert(5, 'New Deaths/Total', can['New Deaths']/can['Total Deaths'], True)
usa.insert(5, 'New Deaths/Total', usa['New Deaths']/usa['Total Deaths'], True)

In [8]:
can

,Country,Date,New Cases/Total,New Cases,Total Cases,New Deaths/Total,New Deaths,Total Deaths
16012,Canada,2020-01-26,1.000000,1.0,1.0,NaN,0.0,0.0
16013,Canada,2020-01-27,0.000000,0.0,1.0,NaN,0.0,0.0
16014,Canada,2020-01-28,0.500000,1.0,2.0,NaN,0.0,0.0
16015,Canada,2020-01-29,0.000000,0.0,2.0,NaN,0.0,0.0
16016,Canada,2020-01-30,0.000000,0.0,2.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...
16558,Canada,2021-07-25,0.000186,267.0,1433792.0,0.000075,2.0,26506.0
16559,Canada,2021-07-26,0.000749,1074.0,1434866.0,0.000189,5.0,26511.0
16560,Canada,2021-07-27,0.000374,537.0,1435403.0,0.000302,8.0,26519.0
16561,Canada,2021-07-28,0.000554,796.0,1436199.0,0.000415,11.0,26530.0
16562,Canada,2021-07-29,0.000635,912.0,1437111.0,0.000527,14.0,26544.0

In [9]:
usa

,Country,Date,New Cases/Total,New Cases,Total Cases,New Deaths/Total,New Deaths,Total Deaths
96029,United States,2020-01-22,0.000000,0.0,1.0,NaN,0.0,0.0
96030,United States,2020-01-23,0.000000,0.0,1.0,NaN,0.0,0.0
96031,United States,2020-01-24,0.500000,1.0,2.0,NaN,0.0,0.0
96032,United States,2020-01-25,0.000000,0.0,2.0,NaN,0.0,0.0
96033,United States,2020-01-26,0.600000,3.0,5.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...
96579,United States,2021-07-25,0.000465,16008.0,34444083.0,0.000092,56.0,610681.0
96580,United States,2021-07-26,0.002580,89096.0,34533179.0,0.000444,271.0,610952.0
96581,United States,2021-07-27,0.002044,70740.0,34603919.0,0.000756,462.0,611414.0
96582,United States,2021-07-28,0.001983,68771.0,34672690.0,0.000633,387.0,611801.0
96583,United States,2021-07-29,0.002249,78170.0,34750860.0,0.000524,321.0,612122.0

In [10]:
combined = pd.concat([usa,can])

In [11]:
fig = px.line(combined, x='Date', y='Total Deaths', color='Country', template = "plotly_dark", title = "New Cases Over Time in the USA vs Canada")

fig.show(config=config)